node_modules/
dist/
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/local.properties
android/capacitor-cordova-android-plugins/
ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
ios/capacitor-cordova-ios-plugins/
*.jks
*.keystore
*.apk
*.aab
